* {
    background-color: pink;
    color:darkslategray
}

.navbar {
    display: block;
    background-color: darkcyan;
}

.navbar h1 {
    background-color: whitesmoke;
}

/* placeholding - we don't yet know how to do a hamburger menu, but hopefully will by the time we submit this assignment! */                
.hamburger {

}

/* OK this one isn't working the way I'd like just yet..  */

.navLinks li{
    color:cadetblue;
    display: inline;
    text-align: right;
}

.sectionTitles {
    color: white;
}

card h3{
    color: red;
}
/* YESSS we got the properties to cascade to all the cards! */

/* .firstApp h3{
    color: coral;
} */

/* .apps h3{
    
} */

card p {
    color: green;
    font-size: large;
}