* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary: pink;
    --secondary: darkcyan;
    --main-text: darkslategray;
    --title-text: whitesmoke;
}
body {
    background-color: pink;
}

header {
    display: flexbox;
    
}
.header {
    display: flex;
    flex-wrap: wrap;
    /* padding: 20px; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: darkcyan;
    color: whitesmoke;
}

.header h1 {
    display: flexbox;
    background-color: darkslategray;
    padding: 2% 2% 2% 10%;
}

.header li {
    display: inline-flex;
    justify-content: end

}

.headshot {
     
}
.hero-banner {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../assets/images/beachBanner.jpg");
    background-size: cover;
    background-position: center;
}

/* putting this bit on hold until we get the listed acceptance criteria done. */
/* .hero-banner h2 {
    color:whitesmoke;
    background-color: darkcyan;
} */

.page-section {
    display:flexbox;
    justify-content: space-around;
    padding: 5%;
}

.page-section h2 {
    color: var(--main-text);
    display: flex;
}

.page-section p {
    display: flex;
    color: var(--main-text);
    height: fit-content;
    width: 60%;
}

    #work {

}

    .card1 {
    background: var(--secondary);
    width: 30em;
    height: 10em;
    border: 5px solid var(--secondary); 
    margin: 1em;
}

    .project-cards {
    background: var(--secondary);
    width: 45%;
    height: 5em;
    border: 5px solid var(--secondary);
    margin: 1em;
}


