* {
    box-sizing:border-box;
    margin:0;
}

body {
    background-color: pink;
    color:darkslategray
    margin: 0%;
}

header {
   
}

.hero {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../assets/images/beachBanner.jpg");
    background-size: cover;
    background-position: center;
    /* position: absolute; */
}

#subtitle {
    background-color: pink;
    left: 80px;
}
main {
    display: flex;
    flex-wrap: wrap;
}
.flex-container {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    color: whitesmoke;
    margin: 5% auto;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    background-color: darkcyan;
    width: 100%;
    /* padding: 15px 15px 15px 0; */
}

.navbar h1 {
    background-color: whitesmoke;
    max-width: fit-content;
    margin: 2% 0%;
    padding-left: 5%;
    padding-right: 2%;
    position:relative;
    
}

/* placeholding - we don't yet know how to do a hamburger menu, but hopefully will by the time we submit this assignment! */                
.hamburger {

}

/* OK this one isn't working the way I'd like just yet..  */

.navLinks li{
    /* display: flex;
    flex-wrap: wrap; */
    color:whitesmoke;
    background-color: darkcyan;
    display: inline;
    position: relative;
    left: 70%;
    padding: 2px;

}

.navbar h3 {
    position: relative;
}
/* .sectionTitles {
    color: white;
    text-align: center; }*/
 
.blurb {
    display: flex;
    flex-wrap:wrap;
    flex: 1 0 200px;
}

card h3{
    color: darkcyan;
}
/* YESSS we got the properties to cascade to all the cards! */

/* .firstApp h3{
    color: coral;
} */

/* .apps h3{
    
} */

card p {
    color: darkcyan;
    font-size: large;
}